* {
  box-sizing: border-box;
}

@font-face {
    font-family: ;
    src: url("fonts/") format("woff");
    font-style: normal;
}

@font-face {
    font-family: untitled-sans-web-regular-italic;
    src: url("fonts/untitled-sans-web-regular-italic.woff") format("woff");
    font-style: oblique;
}

body {
	padding: 0px;
	margin: 10px;
	font-family: untitled-sans-web-regular;
	color: black;
	font-size: 1rem;
	line-height: 1.2;
}

.row::after {
  content: "";
  clear: both;
  display: table;

}

.row{

}


[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
  width:100%;
  color: white;
  text-align: center;
  background-color: #e86f6d;
  padding-top:15px;
}

.header a{
color:white; 
position: sticky;
}

.header h1{
  color:white;
  font-style: bold;
}

.description {
  margin: 5;
  padding: 0;
  padding-right: 15px;
  color: black;
  column-count: 1;
  hyphens: auto;
}

.description a {
  color:; 
}

.italic {
  font-family: untitled-sans-web-regular-italic;
  font-style: oblique;
}

h1 {
	margin: 0;
	line-height: 1.15;
	font-size: 1.5rem;
	font-weight: normal;
  color:#e86f6d;
}

.pics {
  margin: 5;
  padding: 0;
  color: black;
}

.pics img {
	width:100%;
	padding-left: 5px;
	margin: 0px;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .description {
  columns: 1;
  height: auto;
}
}